ion-content {
    --background: url('../../../assets/img/background4.jpg') no-repeat center center / cover;
}

.input {
    --background: rgba(0, 0, 0, 0.0);
}

.logo {
    //border-radius: 50px;
    width: 40%;
    // margin-left: 10%;
    // margin-right: 10%;
}

.Container {
    height: 100%;
    display: flex;
}

.SubContainer{
    margin: auto;
}

form label{
    font-weight:bold;
  }