ion-content {
    --background: url('../../../assets/img/background4.jpg') no-repeat center center / cover;
  }

  
.imagewith {
  //border-radius: 50px;
  width: 40%;
  // margin-left: 10%;
  // margin-right: 10%;
}


.sliderImg{
  border-radius: 10px;
  width: 100%;
}
