<ion-tabs class="tabs">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="promotions">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Promotions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="showcart">
      <ion-icon name="cart"></ion-icon>
      <ion-label>cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

  

</ion-tabs>
