<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-searchbar  
    (ionInput)="filterCards($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

        
          <!-- <ion-card  class="card" routerLink="../businessbycategory" [queryParams]="{categoriaEmpresaId: item.empresaId}" padding color="medium" text-center>
            <div class="center-card">
            <img class="EmpresaImage" [src]="item.empresaImage">
           </div>
           <div class="center-card">
            <h2 style="font-size: 1rem"> {{item.empresa}}
            </h2>
            </div>
          </ion-card> -->


          <ion-card *ngFor="let item of business" color="transparent" class="card"  routerLink="/productbybusiness" [queryParams]="{empresaId: item.empresaId}">
            <ion-card-content >
              <!-- <ion-card-header>
                <ion-card-title class="ion-text-center"><b>{{item.empresa}}</b></ion-card-title>
             
              </ion-card-header> -->
              <div >
                <ion-item lines="none" >
                  <ion-avatar class="ion-no-padding" slot="start">
                    <img style="margin-top: -25px;" [src]="item.empresaImage" />
                  </ion-avatar>
                  <ion-label>
                    <h3><b>{{item.empresa}}</b></h3>
                    <h2>{{item.direccionCompleta}}</h2>
                    <h2>Telefono:</h2>
                    <h2>{{item.numeroContacto}}</h2>
                  </ion-label>
                </ion-item>
              </div>
            </ion-card-content>
          </ion-card>
    
</ion-content>
