<ion-header>
  <ion-toolbar>
    <ion-title  slot="start">Hola, <b>{{nombres}}</b></ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <section >
    <ion-title  slot="start" style="color: black; font-weight: bold;">Bienvenido a tu empresa, <b style="color: green; font-weight: bold;">{{empresa}}</b></ion-title>
  </section>
<br>
<br>
<!-- <img class="logo" src="../../../../assets/img/Logo1.png"> -->
<section >
  <ion-title  slot="start" style="color: black;">Agrega anuncios o promociones de</ion-title>
  <ion-title  slot="start" style="color: black;">tu empresa, para que tus clientes.</ion-title>
  <ion-title  slot="start" style="color: black;">puedan ver en la aplicación.</ion-title>
</section>
<br>
<div class="Container">
  <div class="SubContainer">
<div>
    <ion-item lines="none" (click)="goNoticias()" class="card">
      <ion-icon style="color: black;" slot="start" name="newspaper"></ion-icon>
      <ion-label style="color: black;"><b>Agregar Anuncios</b></ion-label>
    </ion-item>
</div>
<div style="margin-top: 2%;">
<ion-item lines="none" class="card">
      <ion-icon style="color: black;" slot="start" name="eye"></ion-icon>
      <ion-label style="color: black;"><b>Ver Productos</b></ion-label>
    </ion-item>
</div> 
  </div>
</div>

<!-- <ion-grid>
    
  <ion-row class="row" > 
    <ion-col size="6" class="desgindiv">
      <div class="desgindiv">
        <ion-card  class="card"  padding color="success" text-center>
          <div class="center-card">
          <img class="EmpresaImage"  src="../../../../assets/img/anuncios.png">
         </div>
         <div class="center-card">
          <h2 style="font-size: 1rem; text-align: center;"> Add News
          </h2>
          </div>
        </ion-card>
      </div>
        
    </ion-col>

    <ion-col size="6" class="desgindiv">
      <div class="desgindiv">
        <ion-card  class="card"  padding color="success" text-center>
          <div class="center-card">
          <img class="EmpresaImage"  src="../../../../assets/img/Logo1.png">
         </div>
         <div class="center-card">
          <h2 style="font-size: 1rem; text-align: center;"> View Products
          </h2>
          </div>
        </ion-card>
      </div>
    </ion-col>

  </ion-row>
 

</ion-grid> -->

</ion-content>
